*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(17, 43, 70);
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,200px);
    display: grid;
    gap: .5rem;
    padding: 2rem;
    /* justify-items: start; */
    /* align-items: end; */
    /* place-items: center; */
}

.item{
    height: 50px;
    width: 100px;
    background-color: rgb(22, 214, 64);
    border: 3px solid rgb(250, 235, 235);
    /* justify-self: center;       /*horizontal axis*/
    /* align-self: end;         vertical axis */ 
    place-self: center;
}
